[user]
	email = me@sno2wman.net
    name = SnO2WMaN

[init]
	defaultBranch = main

[credential "https://github.com"]
    helper = !gh auth git-credential

[alias]
    c = commit --verbose
    b = branch
	sw = switch
	st = status
    pl = pull
    ps = push
    initc = commit --allow-empty -m 'Initial Commit'
    pwd = rev-parse --show-toplevel
	branches = branch -a

[core]
	symlinks = true

[pull]
	rebase = false
