[user]
	email = me@sno2wman.net
    name = SnO2WMaN

[init]
	defaultBranch = main

[credential "https://github.com"]
    helper = !gh auth git-credential

[alias]
    c = commit --verbose
    initc = commit --allow-empty -m 'Initial Commit'